# Huggingface cache
huggingface/

# datasets
datasets/

# training outputs
outputs/
checkpoints/

# model weights
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# python cache
__pycache__/
*.pyc

# misc
.env
.cache/
